<% @controller = self if Rails.version.split('.').first.to_i > 2 %>
<div class="<%= options[:grid_class] %>" id="<%= options[:id] %>">
  <table cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <% if options[:checkboxes] %>
          <th class="chkBox"><input type="checkbox" class="<%= options[:check_all_class] %>" /></th>
        <% end %>
        <% unless options[:actions].empty? %><th>Actions</th><% end %>
        <% options[:col_titles].each_with_index do |col, i| %>
          <th><%= sort_by.include?( options[:cols][i].to_sym ) ? sortable_header( col, options[:cols][i], path_helpers[:index_rest_helper], path_helpers[:index_rest_args], options ) : col %></th>
        <% end %>
        <th class="right"></th>
      </tr>
    </thead>
    <tbody>
      <% ar_col.each do |record| %>
				<% record_array = Array.new << record %>
        <tr class="<%= cycle( 'even', 'odd' ) %>">
        <% if options[:checkboxes] %>
          <td class="chkBox"><input type="checkbox" class="<%= options[:checkbox_class] %>" name="<%= record.class.to_s.tableize %>[<%= record.id %>]" /></td>
        <% end %>
        <% unless options[:actions].empty? %>
          <td>
            <%= link_to 'show', @controller.send( path_helpers[:show_rest_helper], *(path_helpers[:show_rest_args] + record_array) ) if options[:actions].include?( :show ) %>
            <%= link_to 'edit', @controller.send( path_helpers[:edit_rest_helper], *(path_helpers[:edit_rest_args] + record_array) ) if options[:actions].include?( :edit ) %>
            <%= link_to( 'del', @controller.send( path_helpers[:delete_rest_helper], *(path_helpers[:edit_rest_args] + record_array) ), 
                  :method => :delete, :confirm => options[:del_confirmation] ) if options[:actions].include?( :edit ) %>
          </td>
        <% end %>
        <% options[:cols].each do |col|
            translate_method = "translate_#{col}".to_sym
            
            if options[:polymorphic_as] && col.to_s.include?( options[:polymorphic_as].to_s )
              col_name = col.to_s.gsub( /#{options[:polymorphic_as]}_/, "" )
              col_val = record.send( options[:polymorphic_as].to_sym ).send( col_name.to_sym )
            else
              col_val = record.send( col.to_sym )
            end
            
            if col_val.is_a?( Time )
              record_val =  col_val.to_formatted_s( options[:date_format].to_sym )
            elsif respond_to?( translate_method )
              record_val = send( translate_method, col_val )
            else
              record_val = col_val.to_s
            end %>
          <td>
						<% cell_args = path_helpers[:show_rest_args] + record_array %>
						<% if options[:actions].empty? && options[:clickable] == true %>
                            <% if options[:use_polymorphic_path] == true
                                cell_args.insert( 0, options[:namespace] ) -%>
                                <%= link_to record_val, @controller.polymorphic_path( cell_args ) %>
                            <% else -%>
							  <%= link_to( record_val, @controller.send( path_helpers[:show_rest_helper], *cell_args ) ) %>
                            <% end -%>
						<% else %>
							<%= link_to( record_val, "javascript:void(0)" ) %>
						<% end %>
          </td>
        <% end %>
        <td class="right"></td>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="<%= options[:total_columns].to_s %>">
          <% if do_paginate %><p><%= will_paginate( ar_col ) %></p><p><%= page_entries_info( ar_col ) %></p><% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>